.main{
    margin-top: 10px;
}

#webglCanvas{
    width: 700px;
    height:700px;
    float: left;
}

#canvas{
    width: 700px;
    height: 700px;
}

#sub{
    margin-left: 10px;
    float: left;
}

#editor{
    clear: both;
    width: 700px;
    height:500px;
    
}